@use "./../../abstracts/_index" as *;
.title {
  font-size: var(--fs-heading-lg);
}

.description {
  width: var(--p-width);
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: rem(32);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    > * {
      grid-column: span 6;
    }
  }
}
