@use "./../../abstracts/_index" as *;

.menuItems {
  display: flex;
  flex-direction: column;
  gap: rem(32);
}

@include mq("md") {
  .title {
    font-size: var(--fs-heading-lg);
    text-align: center;
  }

  .description {
    margin-inline: auto;
    text-align: center;
    width: var(--p-width);
  }

  .menuItems {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: size-clamp(rem($padding-block-base), rem($padding-block-md));
  }

  .menuItems > * {
    grid-column: span 6;
  }
}
