@use "./../../styles/abstracts/_index" as *;

.locationSelector {
  align-items: center;
  display: grid;
  gap: rem(16);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  position: relative;
}

.locationSelectorList {
  background-color: var(--clr-light-200);
  border: 1px solid var(--clr-light-500);
  border-radius: rem(12);
  box-shadow: $card-box-shadow-soft;
  left: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  width: rem(200);
  z-index: var(--z-index-modal);
  li {
    cursor: pointer;
    padding-block: size-clamp(rem(12), rem(16));
    padding-inline: size-clamp(rem(16), rem(20));
  }

  li + li {
    border-top: 1px solid var(--clr-light-500);
  }
}

.locationSelectButton {
  --size: #{rem(42)};
  cursor: pointer;

  .locationSelectIcon {
    color: var(--clr-light-600);
    height: var(--size);
    width: var(--size);
  }
}

.orderMethod {
  --background-clr: var(--clr-beige-500);

  background-color: var(--background-clr);
  border-radius: rem(16);
  display: grid;
  gap: rem(6);
  grid-template-columns: 1fr 1fr;
  padding: rem(6);
  width: 100%;

  .orderMethodOption {
    --icon-gap: #{rem(8)};

    @include mq("md") {
      --icon-gap: #{rem(10)};
    }

    align-items: center;
    background-color: var(--background-clr);
    border: none;
    border-radius: rem(16);
    color: var(--clr-secondary-100);
    column-gap: var(--icon-gap);
    cursor: pointer;
    display: block;
    display: flex;
    font-size: var(--fs-body-base);
    justify-content: center;
    padding-block: size-clamp(rem(12), rem(16));
    padding-inline: size-clamp(rem(16), rem(20));
    transition: all var(--transition-speed);

    svg {
      color: var(--clr-beige-700);
      transition: color var(--transition-speed);
    }
  }

  .orderMethodOptionActive {
    background-color: var(--clr-light-300);
    box-shadow: $card-box-shadow-soft;
    color: var(--clr-secondary-400);
    font-weight: 700;

    svg {
      color: var(--clr-primary-400);
    }
  }
}

.orderCategory {
  background-color: var(--clr-beige-500);
  border-radius: rem(16);
  cursor: pointer;
  padding: size-clamp(rem(16), rem(20));

  .currentCategory {
    display: flex;
    justify-content: space-between;

    svg {
      color: var(--clr-tertiary-100);
    }
  }

  .currentCategoryText {
    color: var(--clr-secondary-400);
    font-weight: 600;
  }
}

.orderCategoryList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: rem(16);
  padding: 0;
  row-gap: rem(8);

  .orderCategoryOption {
    background-color: var(--clr-cream-200);
    border: none;
    border-radius: rem(12);
    color: var(--clr-tertiary-400);
    cursor: pointer;
    padding-block: size-clamp(rem(12), rem(16));
    padding-inline: size-clamp(rem(16), rem(20));
    text-align: left;
    width: 100%;
  }
}

.orderBar {
  background-color: var(--clr-light-400);
  bottom: 0;
  box-shadow: 0 0 rem(15) var(--clr-secondary-500);
  left: 0;
  padding-block: rem(24);
  padding-inline: size-clamp(rem(24), rem(32));
  position: fixed;
  right: 0;
  width: 100%;
  z-index: var(--z-index-menu-content);

  @include mq("md") {
    background-color: initial;
    box-shadow: initial;
    padding: initial;
    position: static;
    z-index: initial;
  }
}

.orderBasket {
  background-color: var(--clr-light-400);
  height: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: height 0.5s ease-in-out, visibility 0.5s;
  visibility: hidden;
  width: 100%;

  &.orderBasketActive {
    background-color: palevioletred;
    height: 100dvh;
    visibility: visible;
    z-index: var(--z-index-menu);
  }

  @include mq("md") {
    height: auto;
    position: static;
    visibility: visible;
  }
}

.basketButton {
  align-items: center;
  background-color: var(--clr-primary-400);
  border-radius: rem(16);
  color: var(--clr-light-400);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-block: size-clamp(rem(20), rem(24));
  padding-inline: rem(24);
  width: 100%;

  &:has(svg) {
    justify-content: space-between;
  }
}

.basketButtonText {
  column-gap: rem(8);
  display: flex;

  .basketLabel {
    font-weight: 700;
  }
}

.basketButtonIcon {
  --size: #{size-clamp(rem(32), rem(40))};
  align-items: center;
  background-color: var(--clr-light-400);
  border-radius: 50%;
  display: flex;
  height: var(--size);
  justify-content: center;
  position: relative;
  width: var(--size);

  svg {
    color: var(--clr-primary-400);
    width: size-clamp(rem(16), rem(24));
  }

  .basketItemCount {
    --size: #{size-clamp(rem(18), rem(22))};
    align-items: center;
    background-color: var(--clr-secondary-400);
    border-radius: rem(8);
    display: flex;
    font-size: rem(12);
    font-weight: bold;
    height: var(--size);
    justify-content: center;
    left: size-clamp(rem(-6), rem(-10));
    position: absolute;
    top: size-clamp(rem(-3), rem(-7));
    width: var(--size);
  }
}
