@use "./../../styles/abstracts/_index" as *;

.locationSelector {
  align-items: center;
  display: grid;
  gap: rem(16);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  position: relative;
}

.locationSelectorList {
  background-color: #f7f6f6;
  border: 1px solid var(--clr-light-500);
  border-radius: rem(12);
  box-shadow: $card-box-shadow-soft;
  left: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  width: rem(200);
  z-index: var(--z-index-modal);
  li {
    cursor: pointer;
    padding-block: size-clamp(rem(12), rem(16));
    padding-inline: size-clamp(rem(16), rem(20));
  }

  li + li {
    border-top: 1px solid var(--clr-light-500);
  }
}

.locationSelectButton {
  --size: #{rem(42)};
  cursor: pointer;

  .locationSelectIcon {
    color: var(--clr-light-600);
    height: var(--size);
    width: var(--size);
  }
}

.orderMethod {
  --background-clr: var(--clr-beige-500);

  background-color: var(--background-clr);
  border-radius: rem(16);
  display: grid;
  gap: rem(6);
  grid-template-columns: 1fr 1fr;
  padding: rem(8);
  width: 100%;

  .orderMethodOption {
    --icon-gap: #{rem(8)};

    @include mq("md") {
      --icon-gap: #{rem(10)};
    }

    align-items: center;
    background-color: var(--background-clr);
    border: none;
    border-radius: rem(12);
    color: var(--clr-secondary-100);
    column-gap: var(--icon-gap);
    cursor: pointer;
    display: block;
    display: flex;
    font-size: var(--fs-body-small);
    justify-content: center;
    padding-block: size-clamp(rem(12), rem(16));
    padding-inline: size-clamp(rem(16), rem(20));
    transition: all var(--transition-speed);

    svg {
      color: var(--clr-beige-700);
      transition: color var(--transition-speed);
    }
  }

  .orderMethodOptionActive {
    background-color: var(--clr-beige-200);
    box-shadow: $card-box-shadow-soft;
    color: var(--clr-secondary-400);
    font-weight: 700;

    svg {
      color: var(--clr-primary-400);
    }
  }
}

.orderCategory {
  background-color: var(--clr-beige-500);
  border-radius: rem(16);
  cursor: pointer;
  padding: rem(8);

  .currentCategory {
    background-color: var(--clr-beige-300);
    border-radius: rem(12);
    box-shadow: $card-box-shadow-soft;
    display: flex;
    justify-content: space-between;
    padding: size-clamp(rem(16), rem(20));

    svg {
      color: var(--clr-tertiary-100);
    }
  }

  .currentCategoryText {
    color: var(--clr-secondary-400);
    font-weight: 700;
  }

  @include mq("md") {
    background-color: transparent;
    cursor: initial;
    padding: 0;
  }
}

.orderCategoryList {
  background-color: var(--clr-beige-200);
  border-radius: rem(12);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: rem(8);
  overflow: hidden;
  padding: 0;

  .orderCategoryOption + .orderCategoryOption {
    border-top: 1px solid var(--clr-beige-400);
  }

  .orderCategoryOption {
    background-color: var(--clr-beige-200);
    border: none;
    color: var(--clr-tertiary-400);
    cursor: pointer;
    font-size: var(--fs-body-small);
    font-weight: 500;
    padding-block: size-clamp(rem(12), rem(16));
    padding-inline: size-clamp(rem(16), rem(20));
    text-align: left;
  }

  @include mq("md") {
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(12);
    margin-block-start: 0;

    .orderCategoryOption {
      --background-clr: #{$tab-background-color};
      --font-clr: var(--clr-tertiary-400);
      --fs-button: #{map-get($project-typography-scale, button)};
      --button-shadow: #{$button-hover-shadow};
      --btn-padding-block: #{size-clamp(rem(16), rem(18))};
      --btn-padding-inline: #{size-clamp(rem(22), rem(24))};

      align-items: center;
      background: var(--background-clr);
      border: none;
      border-radius: rem(12);
      color: var(--font-clr);
      cursor: pointer;
      display: flex;
      font-family: var(--ff-body);
      font-size: var(--fs-button);
      font-weight: 600;
      justify-content: center;
      line-height: 1;
      overflow: hidden;
      padding: var(--btn-padding-block) var(--btn-padding-inline);
      transition: all 0.2s ease;

      @media (hover: hover) {
        &:hover:not(.activeClass) {
          --background-clr: var(--clr-primary-400);
          --font-clr: var(--clr-light-400);
        }
      }

      &.activeClass {
        --background-clr: var(--clr-secondary-400);
        --font-clr: var(--clr-light-400);
        cursor: default;
      }
    }
  }
}

.orderBar {
  background-color: var(--clr-light-400);
  bottom: 0;
  box-shadow: 0 0 rem(15) var(--clr-secondary-500);
  left: 0;
  padding-block: rem(24);
  padding-inline: size-clamp(rem(24), rem(32));
  position: fixed;
  right: 0;
  width: 100%;
  z-index: var(--z-index-menu-content);

  @include mq("md") {
    background-color: initial;
    box-shadow: initial;
    display: flex;
    flex-direction: column;
    padding: initial;
    position: static;
    row-gap: rem(32);
    z-index: initial;
  }
}

.orderBasket {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: hsla(22, 26%, 96%, 0.9);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body-small);
  height: 100dvh;
  left: 0;
  overflow: hidden;
  padding: size-clamp(rem(24), rem(32));
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, visibility 0.5s;
  visibility: hidden;
  width: 100%;

  &.orderBasketActive {
    transform: translateY(0);
    visibility: visible;
    z-index: var(--z-index-menu);
  }

  @include mq("md") {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: initial;
    background-color: var(--clr-beige-200);
    border-radius: rem(16);
    box-shadow: $card-box-shadow;
    height: auto;
    padding: 0;
    padding: rem(20);
    position: static;
    transform: initial;
    visibility: visible;
  }

  .basketHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .basketCloseButton {
      color: var(--clr-beige-600);
      cursor: pointer;
      font-size: size-clamp(rem(32), rem(48));
    }

    .basketTitle {
      font-size: rem(40);
    }
  }

  .basketItemContainer {
    flex-grow: 1;
    overflow-y: auto;

    ul {
      height: 100%;
      list-style-type: none;
      padding: 0;
    }

    li.basketItem {
      align-items: center;
      column-gap: rem(16);
      display: grid;
      grid-template-columns: minmax(rem(20), auto) 1fr auto;
      padding-block: size-clamp(rem(16), rem(24));
    }

    li + li {
      border-top: rem(1) solid var(--clr-cream-400);
    }

    .basketItemQuantityBlock {
      align-items: center;
      column-gap: rem(8);
      display: flex;

      .basketItemQuantityIcon {
        color: var(--clr-cream-400);
        cursor: pointer;
        font-size: size-clamp(rem(16), rem(20));
        transition: color var(--transition-speed);

        &:hover {
          color: var(--clr-cream-500);
        }
      }
    }

    .basketItemName {
      font-weight: bold;
    }

    @include mq("md") {
      overflow: initial;

      li.basketItem {
        column-gap: rem(24);
        grid-template-columns: 1fr auto;
        row-gap: rem(8);
      }

      li.basketItem:first-child {
        padding-block-start: 0;
      }

      li.basketItem:last-child {
        padding-block-end: 0;
      }

      .basketItemQuantityBlock {
        grid-column: span 2;
        grid-row: 2 / 3;
      }

      .basketItemName {
        grid-column: 1 / 2;
      }

      .basketItemPrice {
        grid-column: 2 / 3;
      }
    }
  }

  --basketTotalMargin: #{rem(24)};

  .basketTotalDivider {
    margin-block-end: 0;
    margin-block-start: var(--basketTotalMargin);
  }

  .basketTotalPrice {
    display: flex;
    justify-content: space-between;
    margin-block: var(--basketTotalMargin);
  }
}

.basketButton {
  align-items: center;
  background-color: var(--clr-primary-400);
  border-radius: rem(16);
  color: var(--clr-light-400);
  cursor: pointer;
  display: flex;
  font-size: var(--fs-body-small);
  justify-content: center;
  padding-block: size-clamp(rem(20), rem(24));
  padding-inline: rem(24);
  width: 100%;

  &:has(svg) {
    justify-content: space-between;
  }
}

.basketButtonText {
  column-gap: rem(8);
  display: flex;

  .basketLabel {
    font-weight: 700;
  }
}

.basketButtonIcon {
  --size: #{size-clamp(rem(32), rem(40))};
  align-items: center;
  background-color: var(--clr-light-400);
  border-radius: 50%;
  display: flex;
  height: var(--size);
  justify-content: center;
  position: relative;
  width: var(--size);

  svg {
    color: var(--clr-primary-400);
    width: size-clamp(rem(16), rem(24));
  }

  .basketItemCount {
    --size: #{size-clamp(rem(18), rem(22))};
    align-items: center;
    background-color: var(--clr-secondary-400);
    border-radius: rem(8);
    display: flex;
    font-size: rem(12);
    font-weight: bold;
    height: var(--size);
    justify-content: center;
    left: size-clamp(rem(-6), rem(-10));
    position: absolute;
    top: size-clamp(rem(-3), rem(-7));
    width: var(--size);
  }
}
