@use "./../abstracts/_index" as *;
.site-logo {
  display: block;
  filter: drop-shadow(2px 2px 4px rgba(#302721, 0.33));
  height: auto;
  transition: opacity var(--transition-speed) ease-in-out;
  width: rem(136);
}
