@use "./../../abstracts/_index" as abstracts;

.locations__hero {
  @include abstracts.hero-section("/assets/images/locations/hero.jpg");
}

.locations__body {
  background-color: var(--clr-beige-400);

  @include abstracts.mq("base-sm") {
    @include abstracts.border(12px, var(--clr-light-400), "no-top");
  }
}

.locations__content {
  margin-block-start: abstracts.size-clamp(
    abstracts.rem(32),
    abstracts.rem(72)
  );

  .locations-entry + .locations-entry {
    margin-block-start: abstracts.size-clamp(
      abstracts.rem(32),
      abstracts.rem(64)
    );
  }
}
