@use "./../../../styles/abstracts/_index" as abstracts;

.menuItemBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: abstracts.size-clamp(abstracts.rem(236), abstracts.rem(472));
  padding-block-end: abstracts.rem(30);
  padding-block-start: abstracts.size-clamp(
    abstracts.rem(20),
    abstracts.rem(30)
  );
  padding-inline: abstracts.size-clamp(abstracts.rem(20), abstracts.rem(30));
  position: relative;
  transition: 0.5s;

  &::after {
    background: linear-gradient(
      00deg,
      rgba(219, 199, 189, 0.05),
      rgba(219, 199, 189, 0.05)
    );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @media (hover: hover) {
    &:hover::after {
      opacity: 0.1;
    }

    &::after {
      background: linear-gradient(
        0deg,
        rgba(219, 199, 189, 0.2),
        rgba(219, 199, 189, 0.2)
      );
      transition: opacity 0.3s ease-in-out;
    }
  }

  a {
    z-index: 1;
  }
}

.image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  img {
    filter: saturate(66%) contrast(110%) sepia(0.1);
  }
}

.bottom {
  align-items: center;
  display: grid;
  gap: abstracts.rem(32);
  grid-template-columns: 2fr 1fr;
}

.link {
  text-decoration: none;
}

.title {
  --shadow: #{abstracts.$deep-text-shadow};
  color: var(--clr-light-400);
  font-size: abstracts.size-clamp(
    abstracts.rem(abstracts.$heading-font-base-size),
    abstracts.rem(72)
  );
  text-shadow: var(--shadow);
  word-break: normal;
}

.category {
  --shadow: #{abstracts.$small-text-shadow};
  background-color: rgba(#000, 0.48);
  border-radius: abstracts.rem(8);
  color: var(--clr-cream-400);
  display: inline-block;
  font-family: var(--ff-display);
  font-size: abstracts.size-clamp(abstracts.rem(24), abstracts.rem(28));
  font-weight: 500;
  padding: abstracts.rem(16);
  text-shadow: var(--shadow);
  text-transform: uppercase;
  @include abstracts.text-crop($line-height: 1);
}
