@use "./../../../styles/abstracts/_index" as abstracts;

.eventInfo {
  --gap: #{abstracts.rem(8)};
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-block: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(24));
}

.eventInfoPill {
  --margin-right: #{abstracts.size-clamp(abstracts.rem(8), abstracts.rem(12))};
  align-items: center;
  background-color: var(--clr-cream-100);
  border-radius: abstracts.rem(12);
  color: var(--clr-secondary-300);
  display: flex;
  flex-wrap: wrap;
  padding-block: abstracts.size-clamp(abstracts.rem(12), abstracts.rem(16));
  padding-inline: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(20));

  .eventInfoIcon {
    color: var(--clr-cream-400);
    height: auto;
    margin-inline-end: var(--margin-right);
    width: abstracts.rem(20);
  }

  .eventInfoLabel {
    font-weight: 700;
    margin-inline-end: var(--margin-right);
  }
}

@include abstracts.mq("md") {
  .eventCard {
    align-items: center;
    padding: abstracts.rem(16);
  }

  .eventCardBody {
    column-gap: abstracts.rem(32);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 !important;

    .eventImage {
      grid-column: span 1;
      height: 100%;
      max-height: 100%;
    }

    .eventCardContent {
      --padding: #{abstracts.rem(8)};
      display: flex;
      flex-direction: column;
      grid-column: span 2;
      justify-content: center;
      padding-block: var(--padding);
      padding-inline-end: abstracts.rem(24);
    }
  }

  .eventInfo {
    --gap: #{abstracts.rem(16)};
    flex-direction: row;
    margin-block-end: abstracts.rem(12);
    margin-block-start: 0;
  }

  .eventInfoPill {
    flex-grow: 1;
    row-gap: abstracts.rem(4);
  }
}
