@use "./../../styles/abstracts/_index" as *;

.bookingCard {
  margin-top: size-clamp(rem(24), rem(32));
}

.bookingForm {
  --fs-label: #{map-get($project-typography-scale, "form", "label")};
  display: flex;
  flex-direction: column;
  row-gap: rem(16);

  input,
  select {
    background-color: #f0ece9;
    color: rgba(#302721, 0.5);
    font-size: rem(16);
    line-height: 1;
    width: 100%;
  }

  label {
    display: block;
    font-family: var(--ff-display);
    font-size: var(--fs-label);
    font-weight: 600;
    margin-bottom: size-clamp(rem(8), rem(16));
    text-transform: uppercase;
  }
}

.confirmedTitle {
  font-size: size-clamp(rem(18), rem(28));
}

.divider {
  background-color: var(--clr-cream-300);
  display: block;
  height: rem(1);
  margin-block: size-clamp(rem(18), rem(24));
  width: 100%;
}

.locationDetailsTitle {
  font-size: size-clamp(rem(18), rem(24));
}

.locationDetails {
  margin-block-end: rem(16);
  margin-block-start: rem(8);

  p + p {
    margin-top: rem(8);
  }
}

.anotherBookingButton {
  margin-top: size-clamp(rem(18), rem(24));
  width: 100%;
}
