@use "./../../styles/abstracts/_index" as abstracts;

.bookingCard {
  margin-top: abstracts.size-clamp(abstracts.rem(24), abstracts.rem(32));
  overflow: visible !important;
}

.bookingForm {
  --fs-label: #{map-get(abstracts.$project-typography-scale, "form", "label")};
  display: flex;
  flex-direction: column;
  overflow: visible;
  row-gap: abstracts.rem(16);

  input,
  select {
    --color: #{rgba(#302721, 0.5)};
    background-color: #f0ece9;
    border: 1px solid rgba(#302721, 0.075);
    color: var(--color);
    font-size: abstracts.rem(16);
    width: 100%;

    &:disabled {
      --color: #9d9897;
      background-color: #dfdbd9;
      border-color: #cecac9;
    }
  }

  label {
    display: block;
    font-family: var(--ff-display);
    font-size: var(--fs-label);
    font-weight: 600;
    line-height: 1;
    margin-bottom: abstracts.size-clamp(abstracts.rem(8), abstracts.rem(12));
    text-transform: uppercase;
  }

  button {
    margin-top: abstracts.rem(8);
  }

  .expandedFields {
    display: flex;
    flex-direction: column;
    row-gap: abstracts.rem(16);
  }

  @include abstracts.mq("md") {
    column-gap: abstracts.rem(24);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;

    button.nextForm {
      align-self: self-end;
      margin: 0;
      width: fit-content;
    }

    .expandedFields {
      column-gap: abstracts.rem(24);
      display: grid;
      grid-column: span 4;
      grid-row: 2 / 3;
      grid-template-columns: repeat(3, 1fr);
    }

    &:has(.expandedFields) {
      grid-template-columns: repeat(4, 1fr);

      .buttonGroup {
        display: flex;
        gap: abstracts.rem(16);
        grid-column: span 4;
        justify-content: center;
      }
    }
  }
}

.confirmedTitle {
  font-size: abstracts.size-clamp(abstracts.rem(18), abstracts.rem(28));
}

.divider {
  background-color: var(--clr-cream-300);
  display: block;
  height: abstracts.rem(1);
  margin-block: abstracts.size-clamp(abstracts.rem(18), abstracts.rem(24));
  width: 100%;
}

.locationDetailsTitle {
  font-size: abstracts.size-clamp(abstracts.rem(18), abstracts.rem(24));
}

.locationDetails {
  margin-block-end: abstracts.rem(16);
  margin-block-start: abstracts.rem(8);

  p + p {
    margin-top: abstracts.rem(8);
  }
}

.anotherBookingButton {
  margin-top: abstracts.size-clamp(abstracts.rem(18), abstracts.rem(24));
  width: 100%;
}

.error {
  @include abstracts.errorMessage();
  margin-top: abstracts.rem(16);
}

.field {
  position: relative;
}
