@use "./../../styles/abstracts/_index" as *;

.card {
  --padding-inline: #{padding-clamp(
      rem($padding-inline-base),
      rem($padding-inline-desktop)
    )};

  background-color: palevioletred;
  overflow: hidden;
  padding: var(--padding-inline);
  position: relative;
  text-align: center;
  transition: 0.5s;
  z-index: 0;

  @include mq("md") {
    padding-block: rem(200);
    padding-inline: 0;
  }

  &:hover::before {
    opacity: 0.1;
  }

  &::before {
    background: linear-gradient(
      0deg,
      rgba(48, 39, 33, 0.49),
      rgba(48, 39, 33, 0.49)
    );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    opacity: 0.1;
  }

  &--locations {
    background: url("/assets/images/home/locations.jpg") no-repeat center;
    background-size: cover;
  }

  &--events {
    background: url("/assets/images/home/events.jpg") no-repeat center;
    background-size: cover;
  }

  &--bookings {
    background: url("/assets/images/home/bookings.jpg") no-repeat center;
    background-size: cover;
  }
}

.tagline {
  --font-size: #{font-clamp(
      rem($project-min-width),
      rem($project-max-width),
      rem(24),
      rem(28)
    )};

  color: var(--clr-primary-400);
  display: block;
  font-family: var(--ff-display);
  font-size: var(--font-size);
  font-weight: 500;
  text-shadow: 0.0625rem 0.0625rem 0.09375rem rgba(48, 39, 33, 0.62);
  text-transform: uppercase;
  @include text-crop($line-height: 0.85);
}

.title {
  --font-size: #{font-clamp(
      rem($project-min-width),
      rem($project-max-width),
      rem($heading-font-base-size),
      rem(72)
    )};

  color: var(--clr-light-400);
  font-size: var(--font-size);
  letter-spacing: normal;
  margin-top: rem(12);
}

.link {
  text-decoration: none;
}
