@use "./../../styles/abstracts/_index" as abstracts;

.card {
  --shadow: #{abstracts.$card-box-shadow};
  // background-color: #f7f6f6;
  background-color: var(--clr-beige-200);
  border-radius: abstracts.rem(16);
  box-shadow: var(--shadow);
  overflow: hidden;
  position: relative;

  &:not(.imageLeft):not(.imageRight) {
    &:has(.image + .body) {
      .body {
        padding-block-start: abstracts.size-clamp(
          abstracts.rem(24),
          abstracts.rem(32)
        );
      }
    }

    a:has(.image) + .body {
      padding-block-start: abstracts.size-clamp(
        abstracts.rem(24),
        abstracts.rem(32)
      );
    }

    a:has(.image) + .body:has(.titleSmall) {
      padding-block-start: abstracts.rem(24);
    }
  }
}

@include abstracts.mq("md") {
  .imageLeft {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: auto;

    img {
      border-radius: abstracts.rem(9) 0 0 abstracts.rem(9);
      grid-column: span 3;
      height: 100%;
      max-height: 100%;
    }

    .body {
      grid-column: span 6;
      padding: abstracts.rem(40);
    }
  }
}

.softShadow {
  --shadow: #{abstracts.$card-box-shadow-soft};
}

.title {
  font-size: abstracts.size-clamp(abstracts.rem(40), abstracts.rem(48));
  font-weight: 600;

  & + * {
    margin-block-start: abstracts.rem(16);
  }

  &.titleSmall {
    font-size: abstracts.size-clamp(abstracts.rem(32), abstracts.rem(36));

    & + * {
      margin-block-start: abstracts.size-clamp(
        abstracts.rem(12),
        abstracts.rem(16)
      );
    }
  }

  &.titleLarge {
    font-size: abstracts.size-clamp(abstracts.rem(40), abstracts.rem(68));

    & + * {
      margin-block-start: abstracts.size-clamp(
        abstracts.rem(16),
        abstracts.rem(24)
      );
    }
  }
}

.basketAddTitle {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  svg {
    color: var(--clr-beige-500);
    cursor: pointer;
    font-size: abstracts.size-clamp(abstracts.rem(18), abstracts.rem(32));
    margin: 0 !important;
    transition: color var(--transition-speed);

    &:hover {
      color: var(--clr-primary-400);
    }
  }

  & + * {
    margin-block-start: abstracts.rem(16);
  }
}

.textCentre {
  text-align: center;
}

.centre {
  margin-inline: auto;
}

.body {
  font-size: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(20));
  padding: abstracts.size-clamp(abstracts.rem(20), abstracts.rem(24));

  a {
    text-decoration: none;
  }

  a:has(.title) {
    & + * {
      margin-top: abstracts.rem(16);
    }
  }

  a:has(.titleSmall) {
    margin-top: 0;

    & + * {
      margin-top: abstracts.size-clamp(abstracts.rem(12), abstracts.rem(16));
    }
  }

  .image {
    border-radius: abstracts.rem(9);
  }

  &:has(.image) {
    padding-block-end: abstracts.size-clamp(
      abstracts.rem(20),
      abstracts.rem(32)
    );
    padding-block-start: abstracts.rem(20);
    padding-inline: abstracts.rem(20);
  }

  &:has(.image + *) {
    .image {
      margin-block-end: abstracts.size-clamp(
        abstracts.rem(24),
        abstracts.rem(32)
      );
    }
  }

  &:has(* + .cta) {
    *:nth-last-child(2) {
      margin-block-end: abstracts.size-clamp(
        abstracts.rem(16),
        abstracts.rem(24)
      );
    }
  }
}

.image {
  border-radius: abstracts.rem(9) abstracts.rem(9) 0 0;
  max-height: abstracts.rem(202);
  object-fit: cover;

  &.imageLarge {
    max-height: abstracts.rem(300);
  }
}

.eventDate {
  background-color: var(--clr-primary-400);
  border-radius: abstracts.rem(16);
  color: var(--clr-light-400);
  font-family: var(--ff-display);
  font-size: abstracts.size-clamp(abstracts.rem(24), abstracts.rem(32));
  font-weight: 500;
  height: abstracts.size-clamp(abstracts.rem(64), abstracts.rem(92));
  line-height: 1;
  padding: abstracts.size-clamp(abstracts.rem(8), abstracts.rem(16));
  position: absolute;
  right: -20px;
  text-align: center;
  text-transform: uppercase;
  top: -20px;
  width: abstracts.size-clamp(abstracts.rem(64), abstracts.rem(92));
}

.daySuffix {
  font-size: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(24));
}

.month {
  display: block;
}

.showOverflow {
  overflow: visible;
}

.meta {
  --border-color: #{abstracts.$thin-border-color};
  align-items: center;
  display: flex;
  gap: abstracts.size-clamp(abstracts.rem(24), abstracts.rem(32));
  line-height: 1;
  margin-block-start: abstracts.size-clamp(
    abstracts.rem(16),
    abstracts.rem(20)
  );

  &BorderTop {
    border-top: 1px solid var(--border-color);
    padding-block-start: abstracts.size-clamp(
      abstracts.rem(16),
      abstracts.rem(20)
    );
  }

  &BorderBottom {
    border-bottom: 1px solid var(--border-color);
    margin-block-end: abstracts.size-clamp(
      abstracts.rem(16),
      abstracts.rem(20)
    );
    padding-block-end: abstracts.size-clamp(
      abstracts.rem(16),
      abstracts.rem(20)
    );
  }

  &JustifyFlexStart {
    justify-content: flex-start;
  }

  &JustifySpaceBetween {
    justify-content: space-between;
  }

  &JustifyCenter {
    justify-content: center;
  }

  &JustifyFlexEnd {
    justify-content: flex-end;
  }

  &SmallText {
    font-size: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(18));
    font-weight: 300;
  }

  &LargeText {
    font-size: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(20));
  }
}
