@use "./../../styles/abstracts/_index" as *;

.card {
  --shadow: #{$card-box-shadow};
  background-color: #f7f6f6;
  border-radius: rem(16);
  box-shadow: var(--shadow);
  overflow: hidden;
  position: relative;
}

.title {
  font-size: size-clamp(rem(40), rem(48));
  font-weight: 600;

  & + * {
    margin-top: rem(16);
  }
}

.titleSmall {
  font-size: size-clamp(rem(32), rem(36));

  & + * {
    margin-top: size-clamp(rem(12), rem(16));
  }
}

.textCentre {
  text-align: center;
}

.centre {
  margin-inline: auto;
}

.body {
  font-size: size-clamp(rem(16), rem(20));
  padding: size-clamp(rem(16), rem(24));

  a {
    text-decoration: none;
  }

  a:has(.title) {
    & + * {
      margin-top: rem(16);
    }
  }

  a:has(.titleSmall) {
    margin-top: 0;

    & + * {
      margin-top: size-clamp(rem(12), rem(16));
    }
  }

  .image {
    border-radius: rem(9);
  }

  &:has(.image) {
    padding-block-end: size-clamp(rem(16), rem(32));
    padding-block-start: size-clamp(rem(16), rem(20));
    padding-inline: rem(20);
  }

  &:has(.image + *) {
    .image {
      margin-block-end: size-clamp(rem(24), rem(32));
    }
  }

  &:has(* + .cta) {
    *:nth-last-child(2) {
      margin-block-end: size-clamp(rem(16), rem(24));
    }
  }
}

.card:has(.image + .body, a + .body) {
  .body {
    padding-block-start: size-clamp(rem(24), rem(32));
  }
}

.card:has(.image + .body, .titleSmall) {
  .body {
    padding-block-start: rem(24);
  }
}

.image {
  border-radius: rem(9) rem(9) 0 0;
  max-height: rem(202);
  object-fit: cover;
}

.imageLarge {
  max-height: rem(300);
}

.eventDate {
  background-color: var(--clr-primary-400);
  border-radius: rem(16);
  color: var(--clr-light-400);
  font-family: var(--ff-display);
  font-size: size-clamp(rem(24), rem(32));
  font-weight: 500;
  height: size-clamp(rem(64), rem(92));
  line-height: 1;
  padding: size-clamp(rem(8), rem(16));
  position: absolute;
  right: -20px;
  text-align: center;
  text-transform: uppercase;
  top: -20px;
  width: size-clamp(rem(64), rem(92));
}

.daySuffix {
  font-size: size-clamp(rem(16), rem(24));
}

.month {
  display: block;
}

.showOverflow {
  overflow: visible;
}
