@use "./../../styles/abstracts/_index" as *;

.card {
  --shadow: #{$card-box-shadow};
  background-color: #f7f6f6;
  border-radius: rem(16);
  box-shadow: var(--shadow);
  overflow: hidden;
  position: relative;

  &:not(.imageLeft):not(.imageRight) {
    &:has(.image + .body) {
      .body {
        padding-block-start: size-clamp(rem(24), rem(32));
      }
    }

    a:has(.image) + .body {
      padding-block-start: size-clamp(rem(24), rem(32));
    }

    a:has(.image) + .body:has(.titleSmall) {
      padding-block-start: rem(24);
    }
  }
}

@include mq("md") {
  .imageLeft {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: auto;

    img {
      border-radius: rem(9) 0 0 rem(9);
      grid-column: span 3;
      height: 100%;
      max-height: 100%;
    }

    .body {
      grid-column: span 6;
      padding: rem(40);
    }
  }
}

.softShadow {
  --shadow: #{$card-box-shadow-soft};
}

.title {
  font-size: size-clamp(rem(40), rem(48));
  font-weight: 600;

  & + * {
    margin-block-start: rem(16);
  }

  &.titleSmall {
    font-size: size-clamp(rem(32), rem(36));

    & + * {
      margin-block-start: size-clamp(rem(12), rem(16));
    }
  }

  &.titleLarge {
    font-size: size-clamp(rem(40), rem(68));

    & + * {
      margin-block-start: size-clamp(rem(16), rem(24));
    }
  }
}

.textCentre {
  text-align: center;
}

.centre {
  margin-inline: auto;
}

.body {
  font-size: size-clamp(rem(16), rem(20));
  padding: size-clamp(rem(16), rem(24));

  a {
    text-decoration: none;
  }

  a:has(.title) {
    & + * {
      margin-top: rem(16);
    }
  }

  a:has(.titleSmall) {
    margin-top: 0;

    & + * {
      margin-top: size-clamp(rem(12), rem(16));
    }
  }

  .image {
    border-radius: rem(9);
  }

  &:has(.image) {
    padding-block-end: size-clamp(rem(20), rem(32));
    padding-block-start: rem(20);
    padding-inline: rem(20);
  }

  &:has(.image + *) {
    .image {
      margin-block-end: size-clamp(rem(24), rem(32));
    }
  }

  &:has(* + .cta) {
    *:nth-last-child(2) {
      margin-block-end: size-clamp(rem(16), rem(24));
    }
  }
}

.image {
  border-radius: rem(9) rem(9) 0 0;
  max-height: rem(202);
  object-fit: cover;

  &.imageLarge {
    max-height: rem(300);
  }
}

.eventDate {
  background-color: var(--clr-primary-400);
  border-radius: rem(16);
  color: var(--clr-light-400);
  font-family: var(--ff-display);
  font-size: size-clamp(rem(24), rem(32));
  font-weight: 500;
  height: size-clamp(rem(64), rem(92));
  line-height: 1;
  padding: size-clamp(rem(8), rem(16));
  position: absolute;
  right: -20px;
  text-align: center;
  text-transform: uppercase;
  top: -20px;
  width: size-clamp(rem(64), rem(92));
}

.daySuffix {
  font-size: size-clamp(rem(16), rem(24));
}

.month {
  display: block;
}

.showOverflow {
  overflow: visible;
}

.meta {
  --border-color: #{$thin-border-color};
  align-items: center;
  display: flex;
  gap: size-clamp(rem(24), rem(32));
  line-height: 1;
  margin-block-start: size-clamp(rem(16), rem(20));

  &BorderTop {
    border-top: 1px solid var(--border-color);
    padding-block-start: size-clamp(rem(16), rem(20));
  }

  &BorderBottom {
    border-bottom: 1px solid var(--border-color);
    margin-block-end: size-clamp(rem(16), rem(20));
    padding-block-end: size-clamp(rem(16), rem(20));
  }

  &JustifyFlexStart {
    justify-content: flex-start;
  }

  &JustifySpaceBetween {
    justify-content: space-between;
  }

  &JustifyCenter {
    justify-content: center;
  }

  &JustifyFlexEnd {
    justify-content: flex-end;
  }

  &SmallText {
    font-size: size-clamp(rem(16), rem(18));
    font-weight: 300;
  }

  &LargeText {
    font-size: size-clamp(rem(16), rem(20));
  }
}
