@use "./../../styles/abstracts/_index" as *;

.divider {
  background-color: var(--clr-cream-400);
  display: block;
  height: rem(6);
  margin-block: size-clamp(rem(18), rem(24));
  width: 100%;

  @include mq("md") {
    max-width: rem(265);
  }
}

.primary {
  background-color: var(--clr-primary-400);
}

.secondary {
  background-color: var(--clr-secondary-400);
}

.tertiary {
  background-color: var(--clr-tertiary-400);
}

.hero {
  max-width: 15rem;
}
