@use "./../../styles/abstracts/_index" as *;

.divider {
  background-color: var(--clr-cream-400);
  display: block;
  height: rem(6);
  margin-block: size-clamp(rem(18), rem(24));
  width: 100%;

  @include mq("md") {
    max-width: rem(265);
  }
}

.thin {
  height: rem(2);
  margin-block: size-clamp(rem(12), rem(20));
  opacity: 0.4;
}

.primary {
  background-color: var(--clr-primary-400);
}

.secondary {
  background-color: var(--clr-secondary-400);
}

.tertiary {
  background-color: var(--clr-tertiary-400);
}

.hero {
  margin-inline: auto;
  max-width: 15rem;
}

.center {
  margin-inline: auto;
}

.fullWidth {
  @include mq("md") {
    max-width: 100%;
  }
}
