@use "./../../../styles/abstracts/_index" as abstracts;

.body {
  display: flex;
  flex-direction: column;
  row-gap: abstracts.rem(24);
}

.infoBlock p {
  font-size: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(24));
}

.detailsBlock {
  display: flex;
  flex-direction: column;
  row-gap: abstracts.rem(18);
}

.ctaBlock {
  column-gap: abstracts.rem(16);
  display: flex;
  flex-wrap: wrap;
  row-gap: abstracts.rem(12);
}

.field {
  align-items: center;
  column-gap: abstracts.rem(8);
  display: flex;
  flex-wrap: wrap;

  svg {
    color: var(--clr-tertiary-400);
    opacity: 0.35;
    width: abstracts.rem(25);

    @include abstracts.mq("md") {
      width: abstracts.rem(20);
    }
  }

  a {
    color: inherit;
  }

  & + & {
    margin-top: abstracts.rem(12);
  }
}

.address {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: abstracts.rem(4);

  & + .field {
    margin-block-start: abstracts.rem(12);
  }
}

@include abstracts.mq("base-lg") {
  .body {
    row-gap: abstracts.rem(32);
  }

  .detailsBlock {
    column-gap: abstracts.rem(40);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: abstracts.rem(24);

    .ctaBlock {
      grid-column: span 2;
    }
  }
}

@include abstracts.mq("md") {
  .ctaBlock {
    column-gap: abstracts.rem(20);
  }
}

@include abstracts.mq("md-lg") {
  .detailsBlock {
    column-gap: abstracts.rem(44);
  }
}
