////
/// @group settings/layout
////

/// Breakpoint definitions for use with the breakpoint media query. This map defines various screen widths for responsive design breakpoints.
/// @type map
/// @access public
/// @prop {Number} base-sm [376] - Small base breakpoint, typically used for small mobile devices.
/// @prop {Number} base [640] - Base breakpoint, used for general mobile devices.
/// @prop {Number} base-lg [780] - Large base breakpoint, for larger mobile devices and small tablets.
/// @prop {Number} md [1024] - Medium breakpoint, generally used for tablets and smaller desktops.
/// @prop {Number} md-lg [1200] - Medium-large breakpoint, suitable for larger tablets and small desktops.
/// @prop {Number} lg [1440] - Large breakpoint, used for desktops and larger screens.
/// @prop {Number} lg-xl [1920] - Extra-large breakpoint, intended for high-resolution monitors.
/// @prop {Number} lg-xxl [2560] - Extra-extra-large breakpoint, for ultra-high-resolution displays and large screens.
$breakpoints-map: (
  base-sm: 374,
  base: 640,
  base-lg: 780,
  md: 1024,
  md-lg: 1200,
  lg: 1440,
  lg-xl: 1920,
  lg-xxl: 2560,
);
