////
/// @group settings/layout
////

/// Max width of the site layout in PX, we can strip the unit out later if needed
/// @type Number
/// @access public
$project-max-width: 1512px;

/// Minimum width of the site layout in PX, we can strip the unit out later if needed
/// @type Number
/// @access public
$project-min-width: 320px;

/// Max width of the content in PX, we can strip the unit out later if needed
/// @type number
/// @access public
$content-max-width: 1363px;

/// Max width of breakout content in PX, we can strip the unit out later if needed
/// @type number
/// @access public
$breakout-max-width: 1488px;

/// Width of the main border style in PX, we shouldn't really need to unit strip this
/// @type number
/// @access public
$border-width: 12px;
