////
/// @group settings/layout
////

/// Max width of the site layout in PX, we can strip the unit out later if needed
/// @type Number
/// @access public
$project-max-width: 1512px;

/// Minimum width of the site layout in PX, we can strip the unit out later if needed
/// @type Number
/// @access public
$project-min-width: 320px;

/// Max width of the content in PX, we can strip the unit out later if needed
/// @type number
/// @access public
$content-max-width: 1363px;

/// Max width of breakout content in PX, we can strip the unit out later if needed
/// @type number
/// @access public
$breakout-max-width: 1488px;

/// Width of the main border style in PX, we shouldn't really need to unit strip this
/// @type number
/// @access public
$border-width: 12px;

/// Padding with for very small screens
/// @type number
/// @access public
$padding-inline-sm: 32px;

/// Padding width for the base size, this is generally where most mobile devices are
/// @type number
/// @access public
$padding-inline-base: 40px;

/// Padding width for large & desktop sizes
/// @type number
/// @access public
$padding-inline-desktop: 76px;

/// Padding width for base size that also takes into account the border width
/// @type number
/// @access public
$padding-inline-base-w-border: calc($padding-inline-base - $border-width);

/// Padding width for large and desktop size that also takes into account the border width
/// @type number
/// @access public
$padding-inline-desktop-w-border: calc($padding-inline-desktop - $border-width);

$padding-block-base: 40px;
$padding-block-desktop: 88px;

$header-padding-block-sm: $padding-inline-sm;
$header-padding-block-base: 40px;
$header-padding-block-w-border: calc(
  $header-padding-block-base - ($border-width / 2)
);
$header-padding-block-active: 16px;
