@use "./measurements" as *;
@use "./typography" as *;
@use "./../functions/_index" as *;

////
/// @group settings/typography
////

/// Defines the typography scale for the project.
///
/// This scale includes font size calculations for body text and buttons based on viewport width and other settings.
///
/// @type Map
/// @access public

$project-typography-scale: (
  body: (
    small: (
      size-clamp(rem($font-root-size), rem($body-font-desktop-size-small)),
    ),
    base: (
      size-clamp(rem($font-root-size), rem($body-font-desktop-size)),
    ),
  ),

  heading: (
    sm: (
      size-clamp(rem($heading-font-base-size), rem($heading-font-sm-size)),
    ),
    base: (
      size-clamp(rem($heading-font-base-size), rem($heading-font-md-size)),
    ),
    lg: (
      size-clamp(rem($heading-font-base-size), rem($heading-font-lg-size)),
    ),
  ),

  hero: (
    title: (
      size-clamp(rem($hero-title-base-size), rem($hero-title-desktop-size)),
    ),
    body: (
      size-clamp(
        rem($hero-body-text-base-size),
        rem($hero-body-text-desktop-size)
      ),
    ),
  ),

  form: (
    label: size-clamp(rem($form-label-size-sm), rem($form-label-size)),
  ),

  button: (
    size-clamp(rem($button-font-base-size), rem($button-font-desktop-size)),
  ),

  navigation: (
    base: rem($navigation-font-desktop-size),
  ),

  footer: (
    small: rem($footer-font-size-small),
    base: (
      size-clamp(rem($footer-font-size-small), rem($footer-font-size-base)),
    ),
  ),
);
