@use "./measurements" as m;
@use "./../functions/font-clamp" as fc;

////
/// @group settings/typography
////

/// Root font size
///
/// This is used to calculate rem sizes used across the project.
/// @type number
/// @access public
$font-root-size: 16px !default;

/// Desktop font size
///
/// This is the font size for desktop screens
/// @type number
/// @access public
$body-font-desktop-size: 24px !default;

/// Small desktop font size
///
/// This is the smaller font size for desktop screens
/// @type number
/// @access public
$body-font-desktop-size-small: 20px !default;

$heading-font-base-size: 56px !default;
$heading-font-desktop-size: 80px !default;

$hero-font-base-size: $heading-font-base-size;
$hero-font-desktop-size: 114px !default;

/// Button font size
///
/// This is the base font size for buttons
/// @type number
/// @access public
$button-font-base-size: $font-root-size;

/// Desktop button font size
///
/// This is the font size for buttons on desktop screens
/// @type number
/// @access public
$button-font-desktop-size: 21px !default;

/// Desktop navigation font size
///
/// This is the font size for the desktop navigation
/// @type number
/// @access public
$navigation-font-desktop-size: 18px !default;

/// Footer small font size
///
/// This is the font size for the smaller links in the footer
/// @type number
/// @access public
$footer-font-size-small: $font-root-size;

/// Footer base font size
///
/// This is the font size for the normal links in the footer
/// @type number
/// @access public
$footer-font-size-base: 20px !default;
