@use "./measurements" as m;

////
/// @group settings/typography
////

/// Root font size
///
/// This is used to calculate rem sizes used across the project.
/// @type number
/// @access public
$font-root-size: 16px !default;

/// Desktop font size
///
/// This is the font size for desktop screens
/// @type number
/// @access public
$body-font-desktop-size: 24px !default;

/// Small desktop font size
///
/// This is the smaller font size for desktop screens
/// @type number
/// @access public
$body-font-desktop-size-small: 20px !default;

/// Heading base font size
///
/// The base size for heading text
/// @type number
/// @access public
$heading-font-base-size: 56px !default;

/// Heading desktop font size
///
/// The desktop size for heading text
/// @type number
/// @access public
$heading-font-desktop-size: 80px !default;

/// Hero title text base size
///
/// This is the base size for title text in hero sections
/// @type number
/// @access public
$hero-title-base-size: $heading-font-base-size;

/// Hero title text desktop size
///
/// This is the desktop size for title text in hero sections
/// @type number
/// @access public
$hero-title-desktop-size: 114px !default;

/// Hero body text font base size
///
/// This is the base font size for body text within hero sections
/// @type number
/// @access public
$hero-body-text-base-size: 18px !default;

/// Hero body text font desktop size
///
/// This is the desktop font size for body text within hero sections
/// @type number
/// @access public
$hero-body-text-desktop-size: 32px !default;

/// Button font size
///
/// This is the base font size for buttons
/// @type number
/// @access public
$button-font-base-size: $font-root-size;

/// Desktop button font size
///
/// This is the font size for buttons on desktop screens
/// @type number
/// @access public
$button-font-desktop-size: 21px !default;

/// Desktop navigation font size
///
/// This is the font size for the desktop navigation
/// @type number
/// @access public
$navigation-font-desktop-size: 18px !default;

/// Footer small font size
///
/// This is the font size for the smaller links in the footer
/// @type number
/// @access public
$footer-font-size-small: $font-root-size;

/// Footer base font size
///
/// This is the font size for the normal links in the footer
/// @type number
/// @access public
$footer-font-size-base: 20px !default;
