@use "./../../styles/abstracts/_index" as *;

.item {
  align-items: center;
  display: grid;
  gap: size-clamp(rem(20), rem(24));
  grid-column: 2 / 3;
  grid-template-columns: rem(66) 1fr;
}

.icon {
  --icon-size: #{rem(66)};

  @include mq("base-lg") {
    --icon-size: #{rem(80)};
  }

  display: block;
  height: var(--icon-size);
  object-fit: cover;
  width: var(--icon-size);
}

.text {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  grid-column: 2 / 3;
}

.tagline,
.link {
  font-family: var(--ff-display);
  text-transform: uppercase;
  @include text-crop();
}

.tagline {
  font-size: size-clamp(rem(32), rem(48));
  font-weight: 500;

  @include mq("base-sm") {
    font-size: size-clamp(rem(40), rem(48));
  }
}

.link {
  color: var(--clr-primary-600);
  font-size: size-clamp(rem(28), rem(40));
  font-weight: 475;
  text-decoration: none;

  @include mq("base-sm") {
    font-size: size-clamp(rem(38), rem(40));
  }
}
