@use "./../../styles/abstracts/_index" as abstracts;

.item {
  align-items: center;
  display: grid;
  gap: abstracts.size-clamp(abstracts.rem(20), abstracts.rem(24));
  grid-column: 2 / 3;
  grid-template-columns: abstracts.rem(66) 1fr;
}

.icon {
  --icon-size: #{abstracts.rem(66)};

  @include abstracts.mq("base-lg") {
    --icon-size: #{abstracts.rem(80)};
  }

  display: block;
  height: auto;
  width: auto;
}

.text {
  display: flex;
  flex-direction: column;
  gap: abstracts.rem(12);
  grid-column: 2 / 3;
}

.tagline,
.link {
  font-family: var(--ff-display);
  text-transform: uppercase;
  @include abstracts.text-crop();
}

.tagline {
  font-size: abstracts.size-clamp(abstracts.rem(32), abstracts.rem(48));
  font-weight: 500;

  @include abstracts.mq("base-sm") {
    font-size: abstracts.size-clamp(abstracts.rem(40), abstracts.rem(48));
  }
}

.link {
  color: var(--clr-primary-600);
  font-size: abstracts.size-clamp(abstracts.rem(28), abstracts.rem(40));
  font-weight: 475;
  text-decoration: none;

  @include abstracts.mq("base-sm") {
    font-size: abstracts.size-clamp(abstracts.rem(38), abstracts.rem(40));
  }
}
