@use "./../../abstracts/_index" as *;

.home__hero {
  @include hero-section("/home/Hero.webp");
}

.home__features {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-top");
  }

  @include mq("base-lg") {
    & > div {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      & > *:first-child {
        grid-column: 1 / 9;
      }

      & > *:last-child {
        grid-column: 9 /13;
      }
    }

    & > div:nth-of-type(2) {
      & > *:first-child {
        grid-column: 5 / 13;
      }

      & > *:last-child {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
      }
    }

    & > div:not(:last-child) {
      @include border(12px, var(--clr-light-400), ("no-top", "no-inline"));
    }
  }

  @include mq("md") {
    & > div {
      grid-template-columns: repeat(24, 1fr);

      & > *:first-child {
        grid-column: 1 / 13;
        justify-self: end;
        margin: initial;
      }

      & > *:last-child {
        grid-column: 13 / 25;
      }
    }

    & > div:nth-of-type(2) {
      & > *:first-child {
        grid-column: 13 / 25;
        justify-self: self-start;
        margin: initial;
      }

      & > *:last-child {
        grid-column: 1 / 13;
      }
    }

    & > div:not(:last-child) {
      border: 0;
    }
  }

  @include mq(calc($content-max-width - $border-width)) {
    & > div > *:first-child {
      grid-column: 2 / 13;
      padding-inline: 0 $padding-inline-desktop;
    }

    & > div:nth-of-type(2) > *:first-child {
      padding-inline: $padding-inline-desktop 0;
    }
  }
}

.home__quick-links {
  @include border(6px, var(--clr-light-400), "no-inline");

  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-top");
  }

  background-color: var(--clr-light-400);

  & > div:first-of-type {
    display: flex;
    flex-direction: column;
    row-gap: rem(6);

    @include mq("base-sm") {
      row-gap: rem(12);
    }

    @include mq("md") {
      column-gap: rem(12);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.home__about {
  background-color: var(--clr-light-400);
}
