@use "./../../abstracts/_index" as *;

.ctaBlock {
  margin-top: size-clamp(rem(24), rem(32));
}

.title {
  font-size: size-clamp(
    rem($heading-font-base-size),
    rem($hero-font-desktop-size)
  );
}

@include mq("md") {
  .container {
    max-width: 65ch;
    text-align: center;
  }

  .title + * {
    margin: rem(24) auto;
  }
}
