@use "./../../abstracts/_index" as abstracts;

.ctaBlock {
  margin-top: abstracts.size-clamp(abstracts.rem(24), abstracts.rem(32));
}

.title {
  font-size: abstracts.size-clamp(
    abstracts.rem(abstracts.$hero-title-base-size),
    abstracts.rem(abstracts.$hero-title-desktop-size)
  );
}

@include abstracts.mq("md") {
  .container {
    max-width: 65ch;
    text-align: center;
  }

  .title + * {
    margin: abstracts.rem(24) auto;
  }
}
