@use "./../../abstracts/_index" as *;

.container {
  background-color: var(--clr-beige-400);
}

.containerDark {
  background-color: var(--clr-secondary-400);
  color: var(--clr-light-400);
}

.titleDark {
  color: var(--clr-light-400);
}

.ctaBlock {
  display: flex;
  gap: rem(16);
  margin-top: rem(24);

  @include mq("md") {
    gap: rem(20);
    margin-top: rem(32);
  }
}

.image {
  height: rem(200);
  object-fit: cover;
  width: 100%;
}

@include mq("base-lg") {
  .image {
    height: 100%;
  }
}
