@use "./../../abstracts/_index" as abstracts;

.container {
  background-color: var(--clr-beige-400);
}

.containerDark {
  background-color: var(--clr-secondary-400);
  color: var(--clr-light-400);
}

.titleDark {
  color: var(--clr-light-400);
}

.ctaBlock {
  display: flex;
  gap: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(24));
  margin-top: abstracts.size-clamp(abstracts.rem(24), abstracts.rem(32));
}

.image {
  height: abstracts.rem(200);
  object-fit: cover;
  width: 100%;
}

@include abstracts.mq("base-lg") {
  .image {
    height: 100%;
  }
}

@include abstracts.mq("md") {
  .container {
    align-items: center;
    display: flex;
    justify-items: flex-end;
  }
}
