@use "./../../styles/abstracts/_index" as *;
.lock {
  overflow: hidden;
}

.hidden {
  display: none;
}

.menuButton {
  --front: var(--clr-primary-400);
  --back: var(--clr-primary-400);
  --icon: var(--clr-light-400);
  cursor: pointer;
  display: flex;
  height: rem(48);
  perspective: 600px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: rem(48);
  z-index: var(--z-index-modal);

  input {
    display: none;

    &:checked + div {
      span:first-child {
        --rotateY: 0deg;
        --background: var(--back);
      }

      span:last-child {
        --rotateY: 180deg;
        --background: var(--front);
      }
    }

    & + div {
      span {
        --rotateY: 180deg;
        --background: var(--front);
        backface-visibility: hidden;
        background: var(--background);
        border-radius: 50%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: rotateY(var(--rotateY));
        transform-style: preserve-3d;
        transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24),
          background 0.3s ease;
        width: 100%;

        &:before,
        &:after {
          --rotate: 0deg;
          backface-visibility: hidden;
          background: var(--icon);
          border-radius: 1px;
          content: "";
          height: rem(2);
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
          width: rem(20);
        }

        &:first-child {
          &:before {
            --rotate: -45deg;
          }
          &:after {
            --rotate: 45deg;
          }
        }

        &:last-child {
          --rotateY: 0deg;
          &:before {
            box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.menuOverlay {
  --grid-padding-inline: #{size-clamp(
      rem($padding-inline-sm),
      rem($padding-inline-desktop)
    )};

  @include mq("base-sm") {
    --grid-padding-inline: #{size-clamp(
        rem($padding-inline-base),
        rem($padding-inline-desktop)
      )};
  }
  align-items: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: hsla(20, 29%, 80%, 0.9);
  container: menu / size;
  display: flex;
  height: 0;
  justify-content: center;
  left: 0;
  overflow-y: auto;

  padding-inline: var(--grid-padding-inline);
  position: fixed;
  text-align: center;
  top: 0;
  transition: height 0.5s ease, visibility 0.5s ease, opacity 0.5s ease !important;
  width: 100%;
  z-index: var(--z-index-menu);
}

.menuOverlayOpened {
  height: 100dvh;
}

.menuList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  row-gap: rem(24);
}

@container menu (orientation: landscape) and (max-height: #{rem(500)}) {
  .menuList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(24);
  }

  .menuLink {
    line-height: 1 !important;
  }
}

.menuLink {
  color: inherit;
  font-family: var(--ff-display);
  font-size: var(--fs-heading-base);
  font-weight: bold;
  line-height: 0.61;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  @media (hover: hover) {
    &::before {
      background-color: var(--clr-primary-400);
      bottom: -0.4rem;
      content: "";
      display: block;
      height: 0.1875rem;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform var(--transition-speed) ease-in-out;
      width: 100%;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

@include mq("md") {
  .menuOverlay {
    backdrop-filter: initial;
    background: none;
    container-type: normal;
    display: block;
    height: auto;
    overflow: initial;
    padding-inline: 0;
    position: static;
  }

  .menuButton {
    display: none;
  }

  .menuList {
    align-items: center;
    column-gap: rem(56);
    display: flex;
    flex-direction: row;
    row-gap: 0;
    z-index: var(--z-index-menu);
  }

  .menuListActive {
    column-gap: rem(32);

    .menuLink {
      color: var(--clr-secondary-400);
      text-shadow: none;

      @media (hover: hover) {
        &::before {
          background-color: var(--clr-primary-400);
          bottom: -0.1875rem;
        }
      }
    }

    > *:first-child {
      margin-right: auto;
    }

    .menuItem {
      align-self: flex-end;
    }
  }

  .menuLink {
    color: var(--clr-light-400);
    font-family: var(--ff-body);
    font-size: map-get($project-typography-scale, "navigation", "base");
    text-shadow: rem(2) rem(2) rem(4) #302721;
  }
}

@include mq("md-lg") {
  .menuListActive {
    column-gap: rem(56);
  }
}

@include mq($content-max-width) {
  .menuOverlay {
    padding-inline: 0;
  }
}
