@use "./border" as *;
@use "./mq" as *;
@use "./../functions/px-to-rem" as *;
@use "./../functions/image-url" as *;
@use "./../settings/shadows" as *;

@mixin hero-section($url) {
  --title-shadow: #{$hero-title-shadow};
  --body-text-shadow: #{$hero-body-shadow};

  align-items: center;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(48, 39, 33, 0) 43%,
      rgba(48, 39, 33, 0.1) 77.5%,
      rgba(48, 39, 33, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(219, 199, 189, 0.025),
      rgba(219, 199, 189, 0.025)
    ),
    image-url("#{$url}") 17.5% 25% / cover no-repeat;
  background-blend-mode: normal, screen, normal;
  color: var(--clr-light-400);
  display: flex;
  height: auto;
  min-height: 100dvh;
  text-align: center;

  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400));
  }

  @include mq(rem(500), "max", "height", "landscape") {
    min-height: auto;
    .content-grid {
      margin-block: rem(125);
      padding-block: 0;
    }
  }
}
