@use "./border" as border;
@use "./mq" as mq;
@use "./../functions/px-to-rem" as unit;
@use "./../settings/shadows" as shadow;

@mixin hero-section($url, $height: 100dvh) {
  --title-shadow: #{shadow.$hero-title-shadow};
  --body-text-shadow: #{shadow.$hero-body-shadow};

  align-items: center;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(48, 39, 33, 0) 43%,
      rgba(48, 39, 33, 0.1) 77.5%,
      rgba(48, 39, 33, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(219, 199, 189, 0.025),
      rgba(219, 199, 189, 0.025)
    ),
    url("#{$static-path}#{$url}") 17.5% 25% / cover no-repeat;
  background-blend-mode: normal, screen, normal;
  color: var(--clr-light-400);
  display: flex;
  height: auto;
  min-height: $height;
  text-align: center;

  @include mq.mq("base-sm") {
    @include border.border(12px, var(--clr-light-400));
  }

  @include mq.mq(unit.rem(500), "max", "height", "landscape") {
    min-height: auto;
    .content-grid {
      margin-block: unit.rem(125);
      padding-block: 0;
    }
  }

  @include mq.mq("lg-xl") {
    min-height: 85dvh;
  }

  h1 {
    color: var(--clr-light-400);
    font-size: var(--fs-hero-title);
    margin-bottom: unit.rem(24);
    text-shadow: var(--title-shadow);
  }

  p {
    color: var(--clr-primary-100);
    font-size: var(--fs-hero-body);
    font-weight: 500;
    margin-inline: auto;
    max-width: 50ch;
    text-shadow: var(--body-text-shadow);
  }
}
