@use "./../../abstracts/_index" as abstracts;
@use "./../../abstracts/mixins/hero" as hero;

.events__hero {
  @include hero.hero-section("/assets/images/events/hero.jpg");
}

.events__body {
  background-color: var(--clr-beige-400);
}

.events__content {
  margin-block-start: abstracts.size-clamp(
    abstracts.rem(32),
    abstracts.rem(72)
  );

  .events-entry + .events-entry {
    margin-block-start: abstracts.size-clamp(
      abstracts.rem(32),
      abstracts.rem(72)
    );
  }
}
