@use "./../../abstracts/_index" as *;

.events__body {
  background-color: var(--clr-beige-400);
}

.events__content {
  margin-block-start: size-clamp(rem(32), rem(72));

  .events-entry + .events-entry {
    margin-block-start: size-clamp(rem(32), rem(64));
  }
}
