@use "./../../abstracts/_index" as abstracts;

.bookings__hero {
  @include abstracts.hero-section("/assets/images/bookings/hero.jpg");
}

.bookings__standard {
  background-color: var(--clr-light-400);
}

.bookings__group {
  background: linear-gradient(
    180deg,
    var(--clr-beige-400) 0%,
    var(--clr-light-400) 100%
  );

  @include abstracts.mq("base-sm") {
    @include abstracts.border(12px, var(--clr-light-400));
  }

  & > .content-grid > div:nth-of-type(2) {
    column-gap: abstracts.rem(24);
    display: flex;
    flex-wrap: wrap;
    margin-block-start: abstracts.size-clamp(
      abstracts.rem(24),
      abstracts.rem(72)
    );
    row-gap: abstracts.rem(16);

    @include abstracts.mq("md") {
      column-gap: abstracts.rem(32);
      justify-content: center;
    }
  }
}

@include abstracts.mq("md-lg") {
  .bookings__standard {
    > .content-grid {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
    }

    .section-intro {
      grid-column: span 16;
      grid-row: 1 / 2;
    }

    .bookings-bar {
      grid-column: 2 / 16;
      grid-row: 2 / 3;
    }
  }
}

@include abstracts.mq("lg") {
  .bookings__standard {
    .bookings-bar {
      grid-column: 3 / 15;
    }
  }
}
