@use "./../../abstracts/_index" as *;

.about__intro-container {
  display: grid;
  grid-template-rows:
    [hero-start] 100vh [overlap-start] rem(50) [ hero-end] rem(50)
    [overlap-end] auto [journey-end];
}

.about__hero {
  @include hero-section("/about/Hero.jpg");
  grid-column: 1 / -1;
  grid-row: hero-start / hero-end;
}

.about__mission-statement {
  align-self: center;
  grid-column: 1 / -1;
  grid-row: overlap-start / overlap-end;
  z-index: 2;

  > *:first-of-type {
    padding-block: 0;
  }
}

.about__journey {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-top");
  }
  background-color: var(--clr-light-400);
  grid-column: 1 / -1;
  grid-row: hero-end / span 2;

  > div:first-of-type {
    padding-block-start: rem(175);
  }

  .content-grid--half {
    padding-block-start: 0;
  }

  @include mq("md") {
    > div:first-of-type {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      padding-block-start: rem(0);

      .content-grid--half {
        grid-column: 1 / 7;
        justify-self: end;
        margin: initial;
        padding-block-start: rem(175);
      }

      & > *:last-child {
        grid-column: 7 / 13;
        height: 100%;
      }
    }
  }

  @include mq(calc($content-max-width - $border-width)) {
    .content-grid--half {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-block-start: rem(200) !important;
      padding-inline-start: 0;
    }
  }
}

.about__values {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-block");
  }

  background-color: var(--clr-light-400);
}

.about__values-expanded {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-block");
  }

  background: linear-gradient(
    0deg,
    hsl(22, 26%, 92%) 0%,
    hsl(20, 29%, 80%, 0.5) 100%
  );

  @include mq("md") {
    & > .about__values-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .content-grid {
        display: flex;
        flex-direction: column;
        grid-column: 7 / 13;
        justify-content: center;
      }

      > *:last-child {
        grid-column: 1 / 7;
        grid-row: 1 / -1;
        height: 100%;
      }
    }

    & > .about__values-grid:nth-of-type(1) {
      .content-grid {
        justify-self: start;
        margin: initial;
      }
    }

    & > .about__values-grid:nth-of-type(2) {
      .content-grid {
        grid-column: 1 / 7;
        justify-self: end;
        margin: initial;
      }

      > *:last-child {
        grid-column: 7 / 13;
        grid-row: 1 / -1;
      }
    }
  }

  @include mq(calc($content-max-width - $border-width)) {
    & > .about__values-grid:nth-of-type(1) {
      .content-grid--half {
        padding-inline-end: 0;
      }
    }

    & > .about__values-grid:nth-of-type(2) {
      .content-grid--half {
        padding-inline-start: 0;
      }
    }
  }
}

.about__menu-items {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400));
  }

  background-color: var(--clr-light-400);
}

.about__locations {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-block");
  }

  background-color: var(--clr-pale-400);
}

.about__events {
  background-color: var(--clr-light-400);
}

.about__reviews {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-top");
  }

  background: linear-gradient(
    0deg,
    hsl(22, 26%, 92%) 0%,
    hsl(20, 29%, 80%, 0.5) 100%
  );
}
