@use "./../../abstracts/_index" as *;

.about__hero {
  @include hero-section("/about/Hero.jpg");
}

.about__journey {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-top");
  }

  background-color: var(--clr-light-400);

  @include mq("md") {
    & > div:nth-of-type(2) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      & > *:first-child {
        grid-column: 1 / 7;
        justify-self: end;
        margin: initial;
      }

      & > *:last-child {
        grid-column: 7 / 13;
      }
    }
  }
}

.about__values {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-block");
  }

  background-color: var(--clr-light-400);
}

.about__values-expanded {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-block");
  }

  background: linear-gradient(
    0deg,
    hsl(22, 26%, 92%) 0%,
    hsl(20, 29%, 80%, 0.5) 100%
  );
}

.about__menu-items {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400));
  }

  background-color: var(--clr-light-400);
}

.about__locations {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-block");
  }

  background-color: var(--clr-pale-400);
}

.about__events {
  background-color: var(--clr-light-400);
}

.about__reviews {
  @include mq("base-sm") {
    @include border(12px, var(--clr-light-400), "no-top");
  }

  background: linear-gradient(
    0deg,
    hsl(22, 26%, 92%) 0%,
    hsl(20, 29%, 80%, 0.5) 100%
  );
}
