@use "./../../abstracts/_index" as *;

.ctaBlock {
  margin-top: size-clamp(rem(24), rem(32));
}

.swiperBlock {
  margin-top: size-clamp(rem(32), rem(64));

  @include mq(em($content-max-width)) {
    margin-top: 0;
  }
}

.title {
  font-size: var(--fs-heading-lg);
}
