@use "./../../abstracts/_index" as *;

.title {
  color: var(--clr-light-400);
  font-size: size-clamp(
    rem($hero-title-base-size),
    rem($hero-title-desktop-size)
  );
  margin-bottom: rem(24);
  text-shadow: var(--title-shadow);
}

.intro {
  color: var(--clr-primary-100);
  font-size: size-clamp(
    rem($hero-body-text-base-size),
    rem($hero-body-text-desktop-size)
  );
  font-weight: 500;
  text-shadow: var(--body-text-shadow);
}
