@use "./../../abstracts/_index" as *;

.header {
  @include mq("md") {
    align-items: center;
    display: grid;
    gap: rem(32);
    grid-template-columns: repeat(12, 1fr);

    > div:first-of-type {
      grid-column: span 9;
    }

    > div:last-of-type {
      grid-column: span 3;
    }
  }
}
