@use "./../../abstracts/_index" as *;

.header {
  > div:last-of-type {
    margin-top: rem(24);
  }

  @include mq("md") {
    align-items: center;
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(12, 1fr);

    > div:first-of-type {
      grid-column: 1 / 7;
    }

    > div:last-of-type {
      grid-column: 8 / 13;
      justify-self: end;
      margin-top: 0;
    }
  }
}

.swiperBlock {
  margin-top: size-clamp(rem(32), rem(64));
}
