@use "./../abstracts/_index" as *;
@use "./../base/grid";

.site-footer {
  background-color: var(--clr-secondary-600);
  color: var(--clr-cream-400);
  container: grid / inline-size;
  text-align: center;
}

.site-footer__grid {
  @extend %grid-base;
  padding-block: size-clamp(
    rem($padding-block-base),
    rem($padding-block-desktop)
  );
}

.site-footer__logo {
  filter: none;
  width: rem(182);
}

.site-footer__top {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: map-get($project-typography-scale, "footer", "base");
  font-weight: 600;
  gap: rem(24);
}

.site-footer__bottom {
  font-size: map-get($project-typography-scale, "footer", "small");
  font-weight: 200;
  margin-top: rem(16);

  nav {
    margin-top: rem(8);
  }
}

@include mq("md") {
  .site-footer__bottom {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;

    & > nav {
      margin-top: 0;
    }

    & > nav > ul {
      gap: rem(32);
      justify-content: flex-end;
    }
  }
}

@include mq(1200) {
  .site-footer__top {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;

    & > nav > ul {
      gap: rem(32);
      justify-content: flex-end;
    }
  }

  .site-footer__bottom {
    margin-top: rem(24);
  }
}
