@use "./../abstracts/_index" as *;
@use "./../base/grid";

.newsletter-bar {
  background-color: var(--clr-secondary-400);
  color: var(--clr-cream-400);
  padding-block: size-clamp(rem($padding-block-base), rem(80));

  > div > form {
    margin-top: calc(size-clamp(rem($padding-block-base), rem(80)) / 2);
  }

  @container newsletter (min-width: #{rem(475)}) {
    > div > form {
      align-items: stretch;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.newsletter-bar__container {
  @extend %grid-base;
  container: newsletter / inline-size;
}

.newsletter-bar__title {
  color: var(--clr-light-400);
  @include text-crop($line-height: 1);
}

@include mq("md") {
  .newsletter-bar > div {
    align-items: center;
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(4, 1fr);

    & > form {
      grid-column: 3 / 5;
      margin-top: 0;
    }

    & > div {
      grid-column: 1 / 3;
    }
  }

  .newsletter-bar__paragraph {
    font-weight: 200;
  }
}
