@use "./../abstracts/_index" as *;

.section-intro {
  h2 {
    font-size: var(--fs-heading-sm);
  }

  h2 + .paranthetical {
    margin-top: rem(16);
  }

  p {
    max-width: var(--p-width);
  }

  @include mq("md") {
    text-align: center;

    p {
      margin-inline: auto;
    }
  }
}
