@use "./../../../styles/abstracts/_index" as *;

.button {
  align-items: center;
  background-color: var(--clr-beige-500);
  border: none;
  border-radius: rem(12);
  color: inherit;
  column-gap: rem(8);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: size-clamp(rem(16), rem(20));
  padding-block: size-clamp(rem(12), rem(18));
  padding-inline: size-clamp(rem(16), rem(24));
  row-gap: rem(4);
  text-decoration: none;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), padding var(--transition-speed);
  width: fit-content;

  svg {
    color: var(--clr-beige-700);
    transition: color var(--transition-speed);
    width: rem(25);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--clr-primary-400);
      color: var(--clr-light-400);

      svg {
        color: var(--clr-primary-200);
      }
    }
  }
}

.method {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
