@use "./../../../styles/abstracts/_index" as abstracts;

.button {
  align-items: center;
  background-color: var(--clr-beige-500);
  border: none;
  border-radius: abstracts.rem(12);
  color: inherit;
  column-gap: abstracts.rem(8);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(20));
  padding-block: abstracts.size-clamp(abstracts.rem(12), abstracts.rem(18));
  padding-inline: abstracts.size-clamp(abstracts.rem(16), abstracts.rem(24));
  row-gap: abstracts.rem(4);
  text-decoration: none;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), padding var(--transition-speed);
  width: fit-content;

  svg {
    color: var(--clr-beige-700);
    transition: color var(--transition-speed);
    width: abstracts.rem(25);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--clr-primary-400);
      color: var(--clr-light-400);

      svg {
        color: var(--clr-primary-200);
      }
    }
  }
}

.method {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
