@use "./../../styles/abstracts/_index" as abstracts;

.form {
  display: flex;
  flex-direction: column;
  gap: abstracts.rem(20);
}

.input {
  background-color: hsl(25, 13%, 28%);
  color: var(--clr-cream-400);
  flex: 1;
  width: 100%;

  &:focus {
    outline: 2px solid var(--clr-primary-300);
  }

  &::placeholder {
    color: var(--clr-tertiary-200);
    opacity: 1;
  }
}

.submit {
  align-self: start;
  background-color: var(--clr-tertiary-300);
  color: var(--clr-secondary-400);
  flex: 0 0 auto;
}
