@use "./../../styles/abstracts/_index" as abstracts;

.tooltip {
  --background-clr: #{rgba(
      map-get(abstracts.$project-colours, "dark-chocolate"),
      85%
    )};
  background-color: var(--background-clr);
  border-radius: abstracts.rem(8);
  color: #fff;
  font-size: abstracts.rem(16);
  opacity: 0;
  padding: abstracts.size-clamp(abstracts.rem(8), abstracts.rem(12));
  position: absolute;
  transition: opacity 2s;
  width: max-content;
  z-index: var(--z-index-tooltip);

  &::after {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute;
  }
}

.active {
  opacity: 1;
}

.top {
  left: 50%;
  top: abstracts.rem(-24);
  transform: translateX(-50%);

  &::after {
    border-top-color: var(--background-clr);
    border-width: abstracts.rem(8) abstracts.rem(8) abstracts.rem(8)
      abstracts.rem(8);
    bottom: abstracts.rem(-16);
    left: 50%;
    transform: translateX(-50%);
  }
}

.bottom {
  left: 50%;
  top: 115%;
  transform: translateX(-50%);

  &::after {
    border-bottom-color: var(--background-clr);
    border-width: 0 abstracts.rem(8) abstracts.rem(8) abstracts.rem(8);
    left: 50%;
    top: abstracts.rem(-8);
    transform: translateX(-50%);
  }
}

.left {
  right: 107%;
  top: 90%;
  transform: translateY(-90%);

  &::after {
    border-left-color: var(--background-clr);
    border-width: abstracts.rem(8) abstracts.rem(0) abstracts.rem(8)
      abstracts.rem(8);
    right: abstracts.rem(-8);
    top: 50%;
    transform: translateY(-50%);
  }
}

.right {
  left: 107%;
  top: 90%;
  transform: translateY(-90%);

  &::after {
    border-right-color: var(--background-clr);
    border-width: abstracts.rem(8) abstracts.rem(8) abstracts.rem(8) 0;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
