@use "./../../styles/abstracts/_index" as abstracts;

.list {
  display: flex;
  flex-wrap: wrap;
  gap: abstracts.rem(16);
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;

  a {
    color: var(--clr-cream-400);
    text-decoration: none;

    &:hover {
      color: var(--clr-cream-100);
    }

    @media (hover: hover) {
      position: relative;

      &::before {
        background-color: var(--clr-primary-400);
        bottom: -0.5rem;
        content: "";
        display: block;
        height: 0.1875rem;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transition: transform var(--transition-speed) ease-in-out;
        width: 100%;
      }

      &:hover::before {
        transform: scaleX(1);
      }

      &.noHover::before {
        display: none;
      }
    }
  }
}
