@use "./../abstracts/_index" as *;

:root {
  --fs-heading-base: #{map-get($project-typography-scale, "heading", "base")};
  --fs-heading-sm: #{map-get($project-typography-scale, "heading", "sm")};
  --fs-heading-lg: #{map-get($project-typography-scale, "heading", "lg")};
  --fs-hero-title: #{map-get($project-typography-scale, "hero", "title")};
  --fs-hero-body: #{map-get($project-typography-scale, "hero", "body")};
  --fs-body-small: #{map-get($project-typography-scale, "body", "small")};
  --fs-body-base: #{map-get($project-typography-scale, "body", "base")};
  --fs-parenthetical: #{$heading-paranthetical-size};
  --fc-body: #{$body-text-colour};
  --p-width: #{$max-paragraph-width};
}

body {
  color: var(--fc-body);
  font-family: var(--ff-body);
  font-size: var(--fs-body-base);
  line-height: 1.3;
}

h1,
h2,
h3 {
  color: var(--clr-secondary-400);
  font-family: var(--ff-display);
  font-size: var(--fs-heading-base);
  font-weight: 700;
  letter-spacing: -0.01em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  @include text-crop($line-height: 0.85);
}

p + p {
  margin-top: size-clamp(rem(16), rem(32));
}

.paranthetical {
  color: #b7a89e;
  display: block;
  font-family: var(--ff-display);
  font-size: var(--fs-parenthetical);
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.nobr {
  white-space: nowrap;
}
